// Colors



$color-grey-light: #aeaeae;
$color-grey-light-2: #ededed;
$color-grey-light-3: #cfcfcf;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-dark: #f7f7f7;
$color-black: #000;
$color-black-light: #242424;
$color-brown: #b88b58;

$color-twitter: #34c5f1;
$color-linked: #137cb5;
$color-facebook: #336296;
$color-google: #e54336;
$color-pinterest: #b81d2b;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 100rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;

// Projects
$projects-gutter-vertical: 4rem;
$projects-gutter-vertical-small: 6rem;
$projects-gutter-horizontal: 6rem;