.price-card {
    background-color: $color-white;
    padding: 3rem 0;
    text-align: center;
    color: $color-black-light;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: all .5s ease-in-out;

    &__heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: uppercase;    
    }

    &__price {
        font-size: 3rem;
        font-weight: 900;
    }

    &__month {
        text-transform: uppercase;
        color: $color-grey-light;
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: -1rem;
    }

    &__details {
        padding: 2rem 1rem 3rem 1rem;
        list-style: none;
        width: 85%;
        margin: 0 auto;

        &-element {
            color: $color-grey-dark-3;
            text-align: center;
            font-size: 1.3rem;
            padding: 1rem;
            position: relative;
            
            &::after {
                content: " ";
                width: 1.5rem;
                height: 1px;
                background-color: $color-grey-dark-3;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }  

            &:last-child::after {
                width: 3rem;
                height: 0;
            }    
        }
    }

    &:hover {
        transform: scale(1.15);
    }
}