.team {
    background-color: $color-white;
    color: $color-grey-dark-3;
    padding: 6rem 0;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    transform: scale(.9);

    @include respond(tab-land) {
        margin: 0 -2rem;
    }

    &-box {
        margin: 0 auto;
        text-align: center;

        &__heading {
            color: $color-grey-dark-3;
            font-size: $default-font-size;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &__text {
            color: $color-grey-dark-3;
            font-size: 1.4rem;
        }
    }

    &__img {
        border-radius: 50%;
    }

    &__caption {
        padding: 3rem;
    }

    &__social-icons {
        margin: 0 auto;
        width: 100%;
        text-align: center;

        &--icon {
            width: 3.2rem;
            font-size: 1.6rem;
            line-height: 3.2rem;
            text-align: center;
        }

        &-link {            
            
            &:link,
            &:visited {                
                color: $color-white;
                background-color: $color-grey-light;
                text-decoration: none;
                display: inline-block;
                width: 3.2rem;
                height: 3.2rem;
                font-size: 1.6rem;
                line-height: 3.2rem;
                border-radius: 50%;
                transition: all .3s ease-in-out;
            }
    
            &:hover,
            &:active {
                background-color: $color-brown;
            }            
        }
    }

    &:hover {
        transform: translateY(-1rem) scale(1);
    }
}